header img{
    height: 50px;
}
header{
    text-align: center;
    background-color: rgb(67, 138, 230);
    border-radius:  20px; ;
}
nav{
    margin-top: 10px;
}
nav a{
    text-decoration: none;
    color:rgb(117, 43, 13);
    padding: 5px 15px;
    font-size: 16px;
}
nav a{
    font-family: Audiowide;
    background-color: rgb(20, 206, 206);
    border-radius: 20px 0px 20px 0px;
    padding: 5px 15px;
    color:rgb(35, 80, 204);
    text-decoration: none;
    border-radius: 20px 0px 20px 0px;
    transition: 1s;
}
nav a:hover{
    color:black;
}
img{
    height: 250px;
    width: 300px;
}